<template>
  <div>
    <div class="row col-md-12">
      <div id="content" class="content col-md-12">
        <form @submit="validateBeforeSubmit" class="col-md-10" style="margin-bottom: 20px">
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle" style="margin-top: 30px">Anrede</h1>
              <div class="input_container">
                <input v-model="student.anrede" type="text" class="form-control inputField" placeholder="Anrede" aria-label="anrede" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle" style="margin-top: 30px">Vorname</h1>
              <div class="input_container">
                <input v-model="student.firstname" type="text" class="form-control inputField" placeholder="Vorname" aria-label="firstname" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle">Nachname</h1>
              <div class="input_container">
                <input v-model="student.lastname" type="text" class="form-control inputField" placeholder="Nachname" aria-label="lastname" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Straße</h1>
              <div class="input_container">
                <input name="street" v-model="student.street" class="form-control inputField" placeholder="Straße" aria-label="street" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Postleitzahl</h1>
              <div class="input_container">
                <input name="zip" v-model="student.zip" class="form-control inputField" placeholder="Postleitzahl" aria-label="zip" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Ort</h1>
              <div class="input_container">
                <input name="city" v-model="student.city" class="form-control inputField" placeholder="Ort" aria-label="city" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">SommerUni 17</h1>
              <div class="input_container">
                <input name="sommeruni17" v-model="student.sommeruni17" class="form-control inputField" placeholder="SommerUni 17" aria-label="sommeruni17" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">SommerUni 18</h1>
              <div class="input_container">
                <input name="sommeruni18" v-model="student.sommeruni18" class="form-control inputField" placeholder="SommerUni 18" aria-label="sommeruni18" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">SommerUni 19</h1>
              <div class="input_container">
                <input name="sommeruni19" v-model="student.sommeruni19" class="form-control inputField" placeholder="SommerUni 19" aria-label="sommeruni19" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">SommerUni 20</h1>
              <div class="input_container">
                <input name="sommeruni20" v-model="student.sommeruni20" class="form-control inputField" placeholder="SommerUni 20" aria-label="sommeruni20" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Natürlich 20</h1>
              <div class="input_container">
                <input name="natuerlich20" v-model="student.natuerlich20" class="form-control inputField" placeholder="Natürlich 20" aria-label="natuerlich20" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Aktiv ?</h1>
              <div class="input_container">
                <input name="status" v-model="student.status" class="form-control inputField" placeholder="Ist der Student aktiv, dann 1, ansonsten 0 eingeben..." aria-label="status" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <button class="btn btn-primary btn-lg btn-block" style="margin-top: 20px; border-radius: 10px" type="button" @click="validateBeforeSubmit">Eintrag hinzufügen</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Student from "@/models/student";

export default {
  name: "CreateStudent.vue",

  data(){
    return {
      message: "",
      student: new Student('', '', '', '', '', '', '', '', '', '', '', '', ''),
    }
  },

  methods: {
    validateBeforeSubmit() {
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.$store.dispatch('student/insert', this.student).then(
              data => {
                this.$router.push('/students');
                this.message = data.message;
                this.successful = true;
              },
              error => {
                this.message = (error.response && error.response.data) || error.message || error.toString();
                this.successful = false;
              }
          );
        }
      });
    }
  }
}
</script>

<style scoped>
div.content {
  background-color: whitesmoke;
  position: fixed;
  padding: 1px 16px;
  height: 1000px;
  overflow-y: auto;
}

.formTitle {
  font-size: 14px;
  font-weight: 500;
  color: #6B6C6F;
}

.inputField {
  height: 44px;
  margin-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
  border-color: #DFE2E6;
  border-width: 2px;
  border-radius: 10px;
}

.input_container {
  position:relative;
}

.btn {
  margin-bottom: 200px;
}
</style>