<template>
<div>
  <div class="row col-md-12">
    <div id="content" class="content col-md-12">
      <form @submit="validateBeforeSubmit" class="col-md-10" style="margin-bottom: 20px">
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1 class="formTitle" style="margin-top: 30px">Personalnummer</h1>
            <div class="input_container">
              <input v-model="teacher.personal_number" type="text" class="form-control inputField" placeholder="Personalnummer" aria-label="personal_number" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1 class="formTitle" style="margin-top: 30px">Geschlecht</h1>
            <div class="input_container">
              <input v-model="teacher.gender" type="text" class="form-control inputField" placeholder="Anrede" aria-label="gender" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1 class="formTitle">Grad</h1>
            <div class="input_container">
              <input v-model="teacher.grad" type="text" class="form-control inputField" placeholder="Grad" aria-label="grad" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1 class="formTitle" style="margin-top: 10px">Vorname</h1>
            <div class="input_container">
              <input v-model="teacher.firstname" type="text" class="form-control inputField" placeholder="Vorname" aria-label="firstname" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1 class="formTitle" style="margin-top: 30px">Nachname</h1>
            <div class="input_container">
              <input v-model="teacher.lastname" type="text" class="form-control inputField" placeholder="Nachname" aria-label="lastname" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1  class="formTitle" style="margin-top: 10px">Straße</h1>
            <div class="input_container">
              <input name="street" v-model="teacher.street" class="form-control inputField" placeholder="Straße" aria-label="street" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1  class="formTitle" style="margin-top: 10px">Postleitzahl</h1>
            <div class="input_container">
              <input name="zip" v-model="teacher.zip" class="form-control inputField" placeholder="Postleitzahl" aria-label="zip" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1  class="formTitle" style="margin-top: 10px">Ort</h1>
            <div class="input_container">
              <input name="city" v-model="teacher.city" class="form-control inputField" placeholder="Ort" aria-label="city" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1  class="formTitle" style="margin-top: 10px">E-Mail</h1>
            <div class="input_container">
              <input name="email" v-model="teacher.email" class="form-control inputField" placeholder="E-Mail" aria-label="email" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1  class="formTitle" style="margin-top: 10px">Telefon</h1>
            <div class="input_container">
              <input name="telephone" v-model="teacher.telephone" class="form-control inputField" placeholder="Telefon" aria-label="telephone" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1  class="formTitle" style="margin-top: 10px">Schulart</h1>
            <div class="input_container">
              <input name="school_branch" v-model="teacher.school_branch" class="form-control inputField" placeholder="Schulart" aria-label="school_branch" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1  class="formTitle" style="margin-top: 10px">Fächer</h1>
            <div class="input_container">
              <input name="subject" v-model="teacher.subject" class="form-control inputField" placeholder="Fächer" aria-label="subject" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1  class="formTitle" style="margin-top: 10px">Schulname</h1>
            <div class="input_container">
              <input name="school_name" v-model="teacher.school_name" class="form-control inputField" placeholder="Schulname" aria-label="school_name" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1  class="formTitle" style="margin-top: 10px">Schulnummer</h1>
            <div class="input_container">
              <input name="school_number" v-model="teacher.school_number" class="form-control inputField" placeholder="Schulnummer" aria-label="school_number" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <h1  class="formTitle" style="margin-top: 10px">Aktiv ?</h1>
            <div class="input_container">
              <input name="status" v-model="teacher.status" class="form-control inputField" placeholder="Ist der Lehrer aktiv, dann 1, ansonsten 0 eingeben..." aria-label="status" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-11 mb-3">
            <button class="btn btn-primary btn-lg btn-block" style="margin-top: 20px; border-radius: 10px" type="button" @click="validateBeforeSubmit">Eintrag hinzufügen</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</template>

<script>
import Teacher from "@/models/teacher";

export default {
  name: "CreateTeacher.vue",

  data(){
    return {
      message: "",
      teacher: new Teacher('', '', '', '', '', '', '', '', '', '', '', '', '', ''),
    }
  },

  methods: {
    validateBeforeSubmit() {
      this.$validator.validate().then(isValid => {
        if (isValid) {
          console.log("isvalid");
          this.$store.dispatch('teacher/insert', this.teacher).then(
              data => {
                this.$router.push('/teachers');
                this.message = data.message;
                this.successful = true;
              },
              error => {
                this.message = (error.response && error.response.data) || error.message || error.toString();
                this.successful = false;
              }
          );
        } else {

          console.log("not isvalid")
        }
      });
    }
  }
}
</script>

<style scoped>
div.content {
  background-color: whitesmoke;
  position: fixed;
  padding: 1px 16px;
  height: 1000px;
  overflow-y: auto;
}

.formTitle {
  font-size: 14px;
  font-weight: 500;
  color: #6B6C6F;
}

.inputField {
  height: 44px;
  margin-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
  border-color: #DFE2E6;
  border-width: 2px;
  border-radius: 10px;
}

.input_container {
  position:relative;
}

.btn {
  margin-bottom: 200px;
}
</style>
