<template>
  <div>
    <div class="row col-md-12">
      <div id="content" class="content col-md-12">
        <form @submit="validateBeforeSubmit" class="col-md-10" style="margin-bottom: 20px">
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle" style="margin-top: 30px">Angebotsnummer</h1>
              <div class="input_container">
                <input v-model="course.coursenumber" type="text" class="form-control inputField" placeholder="Angebotsnummer" aria-label="angebotsnummer" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle">Angebot</h1>
              <div class="input_container">
                <input v-model="course.courseoffer" type="text" class="form-control inputField" placeholder="Angebot" aria-label="courseoffer" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle" style="margin-top: 10px">Kursname</h1>
              <div class="input_container">
                <input v-model="course.coursename" type="text" class="form-control inputField" placeholder="Kursname" aria-label="coursename" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle" style="margin-top: 30px">Veranstaltungsart</h1>
              <div class="input_container">
                <input v-model="course.eventtype" type="text" class="form-control inputField" placeholder="Veranstaltungsart" aria-label="eventtype" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Kursdatum (dd.mm.yyyy)</h1>
              <div class="input_container">
                <input name="coursedate" v-model="course.coursedate" class="form-control inputField" placeholder="Kursdatum" aria-label="coursedate" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Thema</h1>
              <div class="input_container">
                <input name="topic" v-model="course.topic" class="form-control inputField" placeholder="Thema" aria-label="topic" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Kursort</h1>
              <div class="input_container">
                <input name="courselocation" v-model="course.courselocation" class="form-control inputField" placeholder="Kursort" aria-label="courselocation" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Begleitende Lehrkraft</h1>
              <div class="input_container">
                <input name="accompanyingteacher" v-model="course.accompanyingteacher" class="form-control inputField" placeholder="Begleitende Lehrkraft" aria-label="accompanyingteacher" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Betreuende Studenten</h1>
              <div class="input_container">
                <input name="supervisingstudents" v-model="course.supervisingstudents" class="form-control inputField" placeholder="Betreuende Studenten" aria-label="supervisingstudents" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Anzahl der Anwesenden</h1>
              <div class="input_container">
                <input name="presentstudents" v-model="course.presentstudents" class="form-control inputField" placeholder="Anzahl der Anwesenden" aria-label="presentstudents" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Anzahl der Angemeldeten</h1>
              <div class="input_container">
                <input name="registeredstudents" v-model="course.registeredstudents" class="form-control inputField" placeholder="Anzahl der Angemeldeten" aria-label="registeredstudents" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Kursleiter</h1>
              <div class="input_container">
                <input name="instructor" v-model="course.instructor" class="form-control inputField" placeholder="Kursleiter" aria-label="instructor" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Notiz</h1>
              <div class="input_container">
                <input name="notefield" v-model="course.notefield" class="form-control inputField" placeholder="Notiz" aria-label="notefield" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <button class="btn btn-primary btn-lg btn-block" style="margin-top: 20px; border-radius: 10px" type="button" @click="validateBeforeSubmit">Eintrag bearbeiten</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Course from "@/models/course";

export default {
  name: "EditCourse.vue",

  data(){
    return {
      id: JSON.parse(localStorage.getItem('checkedBoxID')),
      message: "",
      course: new Course('','', '', '', '', '', '', '', '', '', '', '', '', ''),
    }
  },

  created() {
    //this.loadData();
    this.getData();
  },

  methods: {

    getData(){
      this.$store.dispatch('course/getByID', this.id).then(
          (data) => {
            this.course.id = this.id;
            this.course.coursenumber = data.course_number;
            this.course.courseoffer = data.course_offer;
            this.course.coursename = data.course_name;
            this.course.eventtype = data.event_type;
            this.course.coursedate = data.course_datetime;
            this.course.topic = data.course_topic;
            this.course.courselocation = data.course_location;
            this.course.accompanyingteacher = data.accompanyingTeacher;
            this.course.supervisingstudents = data.supervisingStudents;
            this.course.presentstudents = data.presentStudents;
            this.course.registeredstudents = data.registeredStudents;
            this.course.anzahlung = data.anzahlung;
            this.course.honorar = data.honorar;
            this.course.instructor = data.instructor;
            this.course.notefield = data.noteField;

          },
          error => {
            this.message = (error.response && error.response.data) || error.message || error.toString();
            this.successful = false;
          }
      );
    },

    validateBeforeSubmit() {
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.course.id = this.id;
          this.$store.dispatch('course/update', this.course).then(
              data => {
                this.$router.push('/courses');
                this.message = data.message;
                this.successful = true;
              },
              error => {
                this.message = (error.response && error.response.data) || error.message || error.toString();
                this.successful = false;
              }
          );
        } else {

          console.log("not isvalid")
        }
      });
    },

    loadData(){

    }
  }
}
</script>

<style scoped>
div.content {
  background-color: whitesmoke;
  position: fixed;
  padding: 1px 16px;
  height: 1000px;
  overflow-y: auto;
}

.formTitle {
  font-size: 14px;
  font-weight: 500;
  color: #6B6C6F;
}

.inputField {
  height: 44px;
  margin-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
  border-color: #DFE2E6;
  border-width: 2px;
  border-radius: 10px;
}

.input_container {
  position:relative;
}

.btn {
  margin-bottom: 200px;
}
</style>