<template>
  <div>
    <div class="row col-md-12">
      <div id="content" class="content col-md-12">
        <form @submit="validateBeforeSubmit" class="col-md-10" style="margin-bottom: 20px">
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle" style="margin-top: 30px">Zertifikats-ID</h1>
              <div class="input_container">
                <input v-model="certification.certificationid" type="text" class="form-control inputField" placeholder="Zertifikats-ID" aria-label="certificationid" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle">Zertifikatsart</h1>
              <div class="input_container">
                <input v-model="certification.certificationtype" type="text" class="form-control inputField" placeholder="Zertifikatsart" aria-label="certificationtype" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle">Zertifikatsname</h1>
              <div class="input_container">
                <input v-model="certification.certificationname" type="text" class="form-control inputField" placeholder="Zertifikatsname" aria-label="certificationname" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle">Zertifikatsbesitzer</h1>
              <div class="input_container">
                <input v-model="certification.certificationowner" type="text" class="form-control inputField" placeholder="Zertifikatsbesitzer" aria-label="certificationowner" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle">Austellungsdatum</h1>
              <div class="input_container">
                <input v-model="certification.certificationdate" type="text" class="form-control inputField" placeholder="Austellungsdatum" aria-label="certificationdate" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle">Ablaufdatum</h1>
              <div class="input_container">
                <input v-model="certification.certificationexpiredate" type="text" class="form-control inputField" placeholder="Ablaufdatum" aria-label="certificationexpiredate" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <button class="btn btn-primary btn-lg btn-block" style="margin-top: 20px; border-radius: 10px" type="button" @click="validateBeforeSubmit">Eintrag bearbeiten</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Certification from "@/models/certification";

export default {
  name: "CreateCertification.vue",

  data(){
    return {
      id: JSON.parse(localStorage.getItem('checkedBoxID')),
      message: "",
      certification: new Certification('', '', '', '', '', '','',''),
    }
  },

  created() {
    //this.loadData();
    this.getData();
  },

  methods: {

    getData(){
      this.$store.dispatch('certification/getByID', this.id).then(
          (data) => {
            this.certification.certificationid = data.certifications_id;
            this.certification.certificationtype = data.certificationtype;
            this.certification.certificationname = data.certificationname;
            this.certification.certificationowner = data.certificationowner;
            this.certification.certificationdate = data.certificationdate;
            this.certification.certificationexpiredate = data.certificationexpiredate;
            this.certification.status = data.status;

          },
          error => {
            this.message = (error.response && error.response.data) || error.message || error.toString();
            this.successful = false;
          }
      );
    },

    validateBeforeSubmit() {
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.certification.id = this.id;
          this.$store.dispatch('certification/update', this.certification).then(
              data => {
                this.$router.push('/certifications');
                this.message = data.message;
                this.successful = true;
              },
              error => {
                this.message = (error.response && error.response.data) || error.message || error.toString();
                this.successful = false;
              }
          );
        } else {

          console.log("not isvalid")
        }
      });
    },

    loadData(){

    }
  }
}
</script>

<style scoped>
div.content {
  background-color: whitesmoke;
  position: fixed;
  padding: 1px 16px;
  height: 1000px;
  overflow-y: auto;
}

.formTitle {
  font-size: 14px;
  font-weight: 500;
  color: #6B6C6F;
}

.inputField {
  height: 44px;
  margin-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
  border-color: #DFE2E6;
  border-width: 2px;
  border-radius: 10px;
}

.input_container {
  position:relative;
}

.btn {
  margin-bottom: 200px;
}
</style>