<template>
  <div class="content col-md-12">
    <!--{{events}}-->
    <kalendar :configuration="calendar_settings" :events.sync="events">

      <!-- CREATED CARD SLOT -->
      <div slot="created-card" slot-scope="{ event_information }" class="details-card">
        <table>
          <div>
            <button style="margin-bottom: 10px" @click="removeEvent(event_information)" class="remove">X</button>
          </div>
          <tr><h2 style="color: #252529" class="appointment-title">{{event_information.data.title}}</h2></tr>
          <tr><h5 style="color: #252529; margin-bottom: 20px" >{{event_information.data.description}}</h5></tr>
          <tr>Am: {{new Date(event_information.start_time).toLocaleDateString()}}</tr>
          <tr>Von: {{event_information.start_time.match(/\d\d:\d\d/)[0]}} - {{event_information.end_time.match(/\d\d:\d\d/)[0]}}</tr>
        </table>
      </div>

      <!-- CREATING CARD SLOT -->
      <div slot="creating-card" slot-scope="{ event_information }">
        <h4 class="appointment-title" style="text-align: left;">
          Neuen Event erstellen
        </h4>
        <span class="time">
          {{event_information.start_time.match(/\d\d:\d\d/)[0]}}
          -
          {{event_information.end_time.match(/\d\d:\d\d/)[0]}}
        </span>
      </div>

      <!-- POPUP CARD SLOT -->
      <div slot="popup-form" slot-scope="{ popup_information }" style="display: flex; flex-direction: column;">
        <h4 style="margin-bottom: 10px">Neuen Event erstellen</h4>
        <input v-model="new_appointment['title']" type="text" name="title" placeholder="Titel">
        <textarea v-model="new_appointment['description']" type="text" name="description" placeholder="Beschreibung" rows="2"></textarea>
        <div class="buttons">
          <button class="cancel" @click="closePopups()">
            Cancel
          </button>
          <button @click="addEvent(popup_information)">
            Save
          </button>
        </div>
      </div>
    </kalendar>
  </div>
</template>

<script>
import Event from "@/models/event";
import { Kalendar } from 'kalendar-vue';
import Vue from 'vue';
import PortalVue from "portal-vue";
Vue.use(PortalVue);

export default {
  name: "Calendar",
  components: {
    Kalendar
  },

  data: () => ({
    event: new Event('','','','','', ''),
    events: JSON.parse(localStorage.getItem("events")),

    formData: {
      from: null,
      to: null,
      description: null,
      title: null
    },
    calendar_settings: {
      style: 'material_design',
      view_type: 'week',
      cell_height: 20,
      scrollToNow: true,
      current_day: new Date(),
      read_only: false,
      military_time: true, // Boolean
      day_starts_at: 0,
      day_ends_at: 24,
      overlap: true,
      past_event_creation: true
    },
    new_appointment: {
      title: null,
      description: null
    },
  }),

  created() {
    //this.loadData();
  },

  methods:{

    loadData(){

      console.log("loadDAta")
      this.$store.dispatch('event/get').then(
          (data) => {
            this.events = [];
            data.forEach(row => {
              let title = row.title;
              let description = row.description;
              let from = row.startTime;
              let to = row.endTime;

              this.events.push({id: row.id, from: from, to: to, data: { title: title, description: description}});
              localStorage.setItem("events", JSON.stringify(this.events) );
            })
          }
      )
    },

    // Create Event
    "addEvent": function addEvent(popup_data, form_data) {

      let payload = {
        data: {
          placeholder: form_data,
          title: this.new_appointment.title,
          description: this.new_appointment.description
        },
        from: popup_data.start_time,
        to: popup_data.end_time,
      };

      this.$kalendar.addNewEvent(payload);

      this.event.title = payload.data.title;
      this.event.description = payload.data.description;
      this.event.startTime = payload.from;
      this.event.endTime = payload.to;

      this.events.push({from: payload.from, to: payload.to, data: { title: payload.data.title, description: payload.data.description}});
      localStorage.setItem("events", JSON.stringify(this.events) );

      this.$store.dispatch('event/insert', this.event);
      this.$kalendar.closePopups();
      setTimeout(() => {
        this.$router.push("/");
        this.$router.push("/calendar");
      }, 1000);
      //this.clearFormData();
    },

    // Remove Event
    removeEvent(kalendarEvent) {
      let day = kalendarEvent.start_time.slice(0, 10);
      this.$kalendar.removeEvent({
        day,
        key: kalendarEvent.key,
        id: kalendarEvent.kalendar_id,
      })
      this.$store.dispatch('event/delete', kalendarEvent.kalendar_id);
      setTimeout(() => this.loadData(), 1000);
    }

  }
}
</script>

<style scoped>

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #c4defa;
  color: white;
}

content {
  background-color: whitesmoke;
}

.cbtn add {
  float: left;
  position: relative;
  left: 50%;
}

.details-card {
  height: 100%;
}


</style>