<template>
  <div class="card">
    <div class="e-resizable">
      <div>
        <div class="entry_box-inner">
        <a id="editbutton" class="button" href="./editcertification" style="display: none">Eintrag bearbeiten</a>
        <a id="addbutton" class="button" href="./createcertification">neuen Eintrag hinzufügen</a>
        <a id="deletebutton" class="button" @click="deleterows">ausgewählte Einträge löschen</a>
        <a id="exportbutton" class="button" href="./exporttablecertification">Tabelle exportieren</a>
      </div>
        <vue-good-table
            :columns="columns"
            :rows="rows"
            max-height="760px"
            @on-selected-rows-change="selectionChanged"
            :select-options="{ enabled: true }"
            :search-options="{ enabled: true }">
        </vue-good-table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Certifications",
  data: function() {
    return {
      rows: [],
      columns: [
        {
          label: 'Zertifikats-ID',
          field: 'certificationid',
        },
        {
          label: 'Zertifikatsart',
          field: 'certificationtype',
        },
        {
          label: 'Zertifikatsname',
          field: 'certificationname',
        },
        {
          label: 'Zertifikatsbesitzer',
          field: 'certificationowner',
        },
        {
          label: 'Austellungsdatum',
          field: 'certificationdate',
        },
        {
          label: 'Ablaufdatum',
          field: 'certificationexpiredate',
        }
      ],
      checkedBoxes: [],
    }
  },

  created() {
    localStorage.setItem('checkedBoxID', 0);
    this.loadData();
  },

  methods: {

    selectionChanged(params) {
      this.checkedBoxes = [];
      for(let i = 0; i < params.selectedRows.length; i++) {
        this.checkedBoxes[i] = params.selectedRows[i].id;
      }
    },

    loadData(){
      this.$store.dispatch('certification/getAll').then(
          (data) => {
            this.rows = [];
            for(let x = 0; x < data.length; x++){
              this.rows.push({id: data[x].id, certificationid: data[x].certifications_id, certificationtype: data[x].certificationtype,  certificationname: data[x].certificationname, certificationowner: data[x].certificationowner, certificationdate: data[x].certificationdate, certificationexpiredate: data[x].certificationexpiredate});
            }
          },
          error => {
            this.message = (error.response && error.response.data) || error.message || error.toString();
            this.successful = false;
          }
      );
    },

    deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('certification/delete', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
    },

    exportExcel(){
      this.$store.dispatch('certification/exportExcel', this.checkedBoxes);
    },
  },

  watch: {
    checkedBoxes(){
      if (this.checkedBoxes.length > 1 || this.checkedBoxes.length < 1){
        document.getElementById("editbutton").style.display = "none";
      } else {
        document.getElementById("editbutton").style.display = "unset";
      }
      localStorage.setItem('checkedBoxID', this.checkedBoxes[0]);
    }
  },

}
</script>

<style scoped>

.entry_box-inner {
  position: relative;
  display:inline;
}

#exportbutton, #addbutton, #editbutton, #deletebutton {
  margin: 15px;
  display:inline-block;
  padding:0.3em 1.2em;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: bold;
  color:#FFFFFF;
  background-color:#528fff;
  border: 2px solid #2770f5; /* Green */
  text-align:center;
  transition: all 0.2s;
}

#exportbutton:hover, #deletebutton:hover, #addbutton:hover , #editbutton:hover{
  background-color: #70a1ff;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.1);
  transition: 0.2s;
  margin-top: 20px;
  margin-right: 10px;
  height: 95vh;
  border-radius: 3px;
  border-color: #f2f5f8;
  border: 0px;
}
.e-resizable {
  overflow: auto;
  height: 100vh;
  background-color: #f2f5f8;
  border-color: transparent;
}

</style>