<template>
  <div id="content" class="content col-md-12">
  </div>
</template>

<script>

export default {
  name: "Home",
  components: {
  },

  created() {
    //setInterval(() => this.isExpired(), 1000);
    //this.isExpired();
  },

  methods:{

    isExpired(){
      var d = new Date();
      var n = d.valueOf();
      const user = JSON.parse(localStorage.getItem('user'));

      if (n > user.expiresIn){
        this.$router.push('/login');
        this.$parent.logout();
      }
/*
      this.$store.dispatch('auth/isExpired', user).then(
        (data) => {
          //console.log("1:"+ data);
          //console.log("2: "+this.$store.state.auth.status.isExpired);
          /*
          if (data === 0){
            this.$router.push('/login');
          } else {

          }
        },
        error => {
          console.log("error:\n");
          console.log(error);
        }
      );
*/
    },

  }


}
</script>

<style scoped>
.content{
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  overflow: auto;
  white-space: nowrap;
}
</style>