<template>
  <div>
    <div class="row">
      <div class="sidebar col-md-5">
        <div>
          <div class="col-md-12">
            <img class="col-md-6" id="fu-logo" style="margin-top: 25px; margin-left: -15px" src="../assets/fub-logo.png" alt="Freie Universität Berlin Logo">
          </div>

          <div class="col-md-12">
            <h1 class="title" style="margin-top: 35px">Willkommen !</h1>
            <h1  class="subTitle" style="margin-top: 5px">Bitte melden Sie sich an.</h1>
          </div>

          <form class="col-md-10" style="margin-bottom: 20px">
            <div class="form-row">
              <div class="col-md-11 mb-3">
                <div id="wronginputwarning" class="wronginput_container" style="visibility: hidden;">
                  <img src="../assets/error.svg" class="inputwrong_img">
                  <label id="wronginputlabel" style="color: #d75a4a;">E-Mail-Adresse oder Passwort ungültig.</label>
                </div>
                <h1 class="formTitle" style="margin-top: 30px">Benutzername</h1>
                <div class="input_container">
                  <img src="../assets/ic_mail.svg" class="input_img">
                  <input v-model="user.username" type="text" class="form-control inputField" placeholder="Benutzername" aria-label="username">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-11 mb-3">
                <h1  class="formTitle" style="margin-top: 10px">Passwort</h1>
                <div class="input_container">
                  <img src="../assets/ic_password.svg" class="input_img">
                  <input v-model="user.password" :type="passwordFieldType" class="form-control inputField" placeholder="Passwort" aria-label="password">
                  <img src="../assets/ic_password_toggle.svg" :class="passwordToggleStyle" @click="changeVisibility">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-11 mb-3">
                <button class="btn btn-primary btn-lg btn-block" style="margin-top: 20px; border-radius: 10px" @click="login" type="button">Anmelden</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="content col-md-7">
        <div>
          <img class="imgContainer" src="../assets/natlab-logo.png" alt="NatLab Logo">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import axios from "axios";
import User from "@/models/user";

export default {
  name: "Login.vue",

  data() {
    return {
      user: new User('', '',''),
      username: "",
      //eslint-disable-next-line
      reg: /^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$/,
      password: "",
      passwordFieldType: 'password',
      passwordToggleStyle: "password_toggle_img",



    }
  },

  computed: {
    loggedIn() {
      // Falls der User schon angemeldet ist, direkte weiterleitung
      return this.$store.state.auth.status.loggedIn;
    }
  },

  created() {
    if (this.loggedIn) {
      this.$router.push('/home');
    }
  },

  methods:{

    validate(){
      if (this.reg.test(this.username)) {
        this.login()
      } else {
        this.wrongEmail()
      }
    },

    wrongEmail(){
      document.getElementById("wronginputwarning").style.visibility = "visible";
    },

    login() {
      this.$validator.validateAll().then(isValid => {
        if (!isValid) {
          return;
        }

        if (this.user.username && this.user.password) {
          this.$store.dispatch('auth/login', this.user).then(
              () => {
                this.$crontab.startCrontab();
                this.$crontab.execJob('counter')
                this.$router.push('/home');
                this.$parent.navUpdate();
              }
          );
        }
      });
    },

    changeVisibility() {
      if (this.passwordFieldType === 'password'){
        this.passwordFieldType = "text"
        this.passwordToggleStyle = "password_toggle_img password_toggle_img_active"
      } else {
        this.passwordFieldType = "password"
        this.passwordToggleStyle = "password_toggle_img"
      }
    }

  }
}
</script>

<style scoped>

.imgContainer{
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.title {
  font-size: 44px;
  font-weight: bold;
  color: #252529;
}

.subTitle {
  font-size: 24px;
  font-weight: bold;
  color: #252529;
}

.formTitle {
  font-size: 14px;
  font-weight: 500;
  color: #6B6C6F;
}

.inputField {
  height: 44px;
  margin-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
  border-color: #DFE2E6;
  border-width: 2px;
  border-radius: 10px;
}

.input_container {
  position:relative;
}

.input_img {
  position:absolute;
  filter: invert(97%) sepia(3%) saturate(365%) hue-rotate(181deg) brightness(95%) contrast(89%);
  top: 10px;
  left:20px;
  width:24px;
  height:24px;
}

.inputwrong_img {
  position:absolute;
  filter: invert(97%) sepia(3%) saturate(365%) hue-rotate(181deg) brightness(95%) contrast(89%);
  left:20px;
  width:24px;
  height:24px;
}

.wronginput_container {
  margin-top: 25px;
  padding-left: 50px;
  padding-right: 70px;
  border-color: #DFE2E6;
  border-width: 2px;
  border-radius: 10px;
}

.password_toggle_img {
  position:absolute;
  filter: invert(97%) sepia(3%) saturate(365%) hue-rotate(181deg) brightness(95%) contrast(89%);
  top: 10px;
  right:20px;
  width:24px;
  height:24px;
}
.password_toggle_img_active {
  filter: invert(10%) sepia(6%) saturate(905%) hue-rotate(201deg) brightness(99%) contrast(88%);
}

</style>
