<template>
  <div class="sidebar col-md-2">
    <br>
      <img class="natlab-logo col-md-12" id="natlab-logo" src="../assets/natlab-logo.png" alt="NatLab Logo">
    <br>
    <div>
      <li style="margin-top: 50px;" :class="[currentPage.includes('courses') ? activeClass: '', 'navButton']">
        <router-link style="margin-bottom: -25px;" to="/courses" class="navA">Kursübersicht</router-link><br>
      </li>
      <li :class="[currentPage.includes('students') ? activeClass: '', 'navButton']">
        <router-link style="margin-bottom: -25px;" to="/students" class="navA">Studentenübersicht</router-link><br>
      </li>
      <li :class="[currentPage.includes('teachers') ? activeClass: '', 'navButton']">
        <router-link style="margin-bottom: -25px;" to="/teachers" class="navA">Lehrbeauftragtenübersicht</router-link><br>
      </li>
      <li :class="[currentPage.includes('certifications') ? activeClass: '', 'navButton']">
        <router-link style="margin-bottom: -25px;" to="/certifications" class="navA">Fort-und Weiterbildungen</router-link><br>
      </li>
      <li :class="[currentPage.includes('calendar') ? activeClass: '', 'navButton']">
        <router-link style="margin-bottom: -25px;" to="/calendar" class="navA">Kalender</router-link><br>
      </li>
      <li :class="[currentPage.includes('register') ? activeClass: '', 'navButton']">
        <router-link style="margin-bottom: -25px;" to="/register" class="navA">neuen Nutzer anlegen</router-link>
      </li>
      <a class="nav-link sidebar-bottom" href @click.prevent="logout">
        <a href="/logout" class="navA">Abmelden</a>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "SideMenu",
  data() {
    return {
      activeClass: 'active',
    }
  },

  methods: {
    logout: function () {
      this.$store.dispatch('auth/logout').then(
          () => {
            localStorage.setItem('cronJob', 0);
            this.$router.push('/login');
            this.$parent.navUpdate();
          },
          error => {
            this.message = (error.response && error.response.data) || error.message || error.toString();
            console.log(this.message)
          }
      );
    }
  },
  computed: {
    currentPage(){
      return this.$route.path;
    }
  }
}

</script>

<style scoped>

.sidebar {
  background-color: white;
  position: fixed;
  height: 100vh;
  padding: 0px;
  margin-top: 0px;
}

.sidebar-bottom {
  position: fixed;
  bottom: 0px;
}

.sidebar-bottom a {
  position: relative;
  padding-left: 15px;
}

/* Sidebar links */
.navA {
  font-weight: bold;
  display: block;
  color: black;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  text-decoration: none;
}

/* Active/current link */
.active {
  font-weight: bold;
  background-color: #e3f5ff;
  color: #528fff;
}

.navA:hover {
  background: #9fc1ff;
}

.sidebar li {
  list-style: none;
}
</style>