<template>
  <div>
    <div class="row col-md-12">
      <div id="content" class="content col-md-12">
        <form @submit="validateBeforeSubmit" class="col-md-10" style="margin-bottom: 20px">
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle" style="margin-top: 30px">Name</h1>
              <div class="input_container">
                <img src="../assets/identification.svg" class="input_img">
                <input v-model="user.name" type="text" class="form-control inputField" placeholder="Name" aria-label="username" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle">Vorname</h1>
              <div class="input_container">
                <img src="../assets/identification.svg" class="input_img">
                <input v-model="user.firstname" type="text" class="form-control inputField" placeholder="Vorname" aria-label="userfirstname" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle" style="margin-top: 10px">E-Mail-Adresse</h1>
              <div class="input_container">
                <img src="../assets/ic_mail.svg" class="input_img">
                <input v-model="user.email" type="text" class="form-control inputField" placeholder="E-Mail-Adresse" aria-label="username" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1 class="formTitle" style="margin-top: 30px">Benutzername</h1>
              <div class="input_container">
                <img src="../assets/user.svg" class="input_img">
                <input v-model="user.username" type="text" class="form-control inputField" placeholder="Benutzername" aria-label="username" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <p class="alert alert-danger" id="errorpassvar" style="visibility: hidden;">Die Passwörter stimmen nicht überein!</p>
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Passwort</h1>
              <div class="input_container">
                <img src="../assets/ic_password.svg" class="input_img">
                <input v-validate="'required'" name="password" v-model="user.password" :type="passwordFieldType" class="form-control inputField" placeholder="Passwort" aria-label="password" ref="password" required>
                <img src="../assets/ic_password_toggle.svg" :class="passwordToggleStyle" @click="changeVisibility">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <h1  class="formTitle" style="margin-top: 10px">Passwort bestätigen</h1>
              <div class="input_container">
                <img src="../assets/ic_password.svg" class="input_img">
                <input v-validate="'required|confirmed:password'" data-vv-as="password" name="password2" v-model="password2" :type="passwordFieldType" class="form-control inputField" placeholder="Passwort bestätigen" aria-label="passwordverify" required>
                <img src="../assets/ic_password_toggle.svg" :class="passwordToggleStyle" @click="changeVisibility">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-11 mb-3">
              <button class="btn btn-primary btn-lg btn-block" style="margin-top: 20px; border-radius: 10px" type="submit">Registrieren</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import User from "@/models/user";

export default {
  name: "SignIn.vue",

  data(){
    return {
      user: new User('','', '', '', ''),
      password: "",
      password2: "",
      passwordFieldType: 'password',
      passwordToggleStyle: "password_toggle_img",
    }
  },

  methods: {
    validateBeforeSubmit(e) {
      this.$validator.validateAll().then(response => {
        if (response) {
          console.log("Passwörter gleich");
          this.$validator.validate().then(isValid => {
            if (isValid) {
              this.$store.dispatch('auth/register', this.user).then(
                  data => {
                    this.message = data.message;
                    this.successful = true;
                  },
                  error => {
                    this.message =
                        (error.response && error.response.data) ||
                        error.message ||
                        error.toString();
                    this.successful = false;
                  }
              );
            }
          });
        } else {
          console.log("Passwörter ungleich");
          this.user.password = "";
          this.password2 = "";

          document.getElementById("errorpassvar").style.visibility = "visible";

          // To prevent the form from submitting
          e.preventDefault();
        }
      })
    },

    changeVisibility() {
      if (this.passwordFieldType === 'password'){
        this.passwordFieldType = "text"
        this.passwordToggleStyle = "password_toggle_img password_toggle_img_active"
      } else {
        this.passwordFieldType = "password"
        this.passwordToggleStyle = "password_toggle_img"
      }
    }
  }
}
</script>

<style scoped>
div.content {
  background-color: whitesmoke;
  position: fixed;
  padding: 1px 16px;
  height: 1000px;
}

.imgContainer{
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.title {
  font-size: 44px;
  font-weight: bold;
  color: #252529;
}

.subTitle {
  font-size: 24px;
  font-weight: bold;
  color: #252529;
}

.formTitle {
  font-size: 14px;
  font-weight: 500;
  color: #6B6C6F;
}

.inputField {
  height: 44px;
  margin-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
  border-color: #DFE2E6;
  border-width: 2px;
  border-radius: 10px;
}

.input_container {
  position:relative;
}

.input_img {
  position:absolute;
  filter: invert(97%) sepia(3%) saturate(365%) hue-rotate(181deg) brightness(95%) contrast(89%);
  top: 10px;
  left:20px;
  width:24px;
  height:24px;
}

.inputwrong_img {
  position:absolute;
  filter: invert(97%) sepia(3%) saturate(365%) hue-rotate(181deg) brightness(95%) contrast(89%);
  left:20px;
  width:24px;
  height:24px;
}

.wronginput_container {
  margin-top: 25px;
  padding-left: 50px;
  padding-right: 70px;
  border-color: #DFE2E6;
  border-width: 2px;
  border-radius: 10px;
}

.password_toggle_img {
  position:absolute;
  filter: invert(97%) sepia(3%) saturate(365%) hue-rotate(181deg) brightness(95%) contrast(89%);
  top: 10px;
  right:20px;
  width:24px;
  height:24px;
}
.password_toggle_img_active {
  filter: invert(10%) sepia(6%) saturate(905%) hue-rotate(201deg) brightness(99%) contrast(88%);
}

</style>
