<template>
  <div class="card">
    <div class="e-resizable">
      <div>
        <div class="entry_box-inner">
          <a id="editbutton" class="button" href="./editstudent" style="display: none">Eintrag bearbeiten</a>
          <a id="addbutton" class="button" href="./createstudent">neuen Eintrag hinzufügen</a>
          <a id="deletebutton" class="button" @click="deleterows">ausgewählte Einträge löschen</a>
          <a id="exportbutton" class="button" @click="exportExcel">Tabelle exportieren</a>
        </div>
        <vue-good-table
            :columns="columns"
            :rows="rows"
            max-height="760px"
            @on-selected-rows-change="selectionChanged"
            :select-options="{ enabled: true }"
            :search-options="{ enabled: true }">
        </vue-good-table>
      </div>
    </div>
  </div>
</template>

<script>
import {VueGoodTable} from "vue-good-table";

export default {
  name: "Student",
  components: {VueGoodTable},

  data: function() {
    return {
      rows: [],
      columns: [
        {
          label: 'Anrede',
          field: 'anrede',
        },
        {
          label: 'Vorname',
          field: 'firstname',
        },
        {
          label: 'Nachname',
          field: 'lastname',
        },
        {
          label: 'Straße',
          field: 'street',
        },
        {
          label: 'Postleitzahl',
          field: 'zip',
        },
        {
          label: 'Ort',
          field: 'city',
        },
        {
          label: 'SommerUni 17',
          field: 'sommeruni17',
        },
        {
          label: 'SommerUni 18',
          field: 'sommeruni18',
        },
        {
          label: 'SommerUni 19',
          field: 'sommeruni19',
        },
        {
          label: 'SommerUni 20',
          field: 'sommeruni20',
        },
        {
          label: 'Natürlich 20',
          field: 'natuerlich20',
        }
      ],
      checkedBoxes: [],
    }
  },

  created() {
    localStorage.setItem('checkedBoxID', 0);
    this.loadData();
  },

  methods: {

    selectionChanged(params) {
      this.checkedBoxes = [];
      for(let i = 0; i < params.selectedRows.length; i++) {
        this.checkedBoxes[i] = params.selectedRows[i].id;
      }
    },

    loadData(){
      this.$store.dispatch('student/getAll').then(
          (data) => {
            this.rows = [];
            for(let x = 0; x < data.length; x++){
              this.rows.push({id: data[x].id, anrede: data[x].anrede, firstname: data[x].firstName, lastname: data[x].lastname, street: data[x].street, zip: data[x].postcode, city: data[x].ort, sommeruni17: data[x].summerUni_17, sommeruni18: data[x].summerUni_18, sommeruni19: data[x].summerUni_19, sommeruni20: data[x].summerUni_20, natuerlich20: data[x].natuerlich, status: data[x].status});
            }
          },
          error => {
            this.message = (error.response && error.response.data) || error.message || error.toString();
            this.successful = false;
          }
      );
    },

    deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('student/delete', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
    },

    exportExcel(){
      this.$store.dispatch('student/exportExcel', this.checkedBoxes);
    },

  },

  watch: {
    checkedBoxes(){
      if (this.checkedBoxes.length > 1 || this.checkedBoxes.length < 1){
        document.getElementById("editbutton").style.display = "none";
      } else {
        document.getElementById("editbutton").style.display = "unset";
      }
      localStorage.setItem('checkedBoxID', this.checkedBoxes[0]);
    }
  },

}
</script>

<style scoped>

.entry_box-inner {
  position: relative;
  display:inline;
}

#exportbutton, #addbutton, #editbutton, #deletebutton {
  margin: 15px;
  display:inline-block;
  padding:0.3em 1.2em;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: bold;
  color:#FFFFFF;
  background-color:#528fff;
  border: 2px solid #2770f5; /* Green */
  text-align:center;
  transition: all 0.2s;
}

#exportbutton:hover, #deletebutton:hover, #addbutton:hover , #editbutton:hover{
  background-color: #70a1ff;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.1);
  transition: 0.2s;
  margin-top: 20px;
  margin-right: 10px;
  height: 95vh;
  border-radius: 3px;
  border-color: #f2f5f8;
  border: 0px;
}
.e-resizable {
  overflow: auto;
  height: 100vh;
  background-color: #f2f5f8;
  border-color: transparent;
}

</style>