<template>
  <div class="card">
    <div class="e-resizable">
      <div>
        <div class="entry_box-inner">
          <a id="editbutton" class="button" href="./editteacher" style="display: none">Eintrag bearbeiten</a>
          <a id="addbutton" class="button" href="./createteacher">neuen Eintrag hinzufügen</a>
          <a id="deletebutton" class="button" @click="deleterows">ausgewählte Einträge löschen</a>
          <a id="exportbutton" class="button" @click="exportExcel">Tabelle exportieren</a>
        </div>
        <vue-good-table
          :columns="columns"
          :rows="rows"
          max-height="760px"
          @on-selected-rows-change="selectionChanged"
          :select-options="{ enabled: true }"
          :search-options="{ enabled: true }">
        </vue-good-table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Teachers",
  data: function() {
    return {
      rows: [],
      columns: [
        {
          label: 'Personalnummer',
          field: 'personalnummer',
        },
        {
          label: 'Geschlecht',
          field: 'gender',
        },
        {
          label: 'Grad',
          field: 'grad',
        },
        {
          label: 'Vorname',
          field: 'firstname',
        },
        {
          label: 'Nachname',
          field: 'lastname',
        },
        {
          label: 'E-Mail',
          field: 'email',
        },
        {
          label: 'Telefon',
          field: 'telephone',
        },
        {
          label: 'Straße',
          field: 'street',
        },
        {
          label: 'Postleitzahl',
          field: 'zip',
        },
        {
          label: 'Ort',
          field: 'city',
        },
        {
          label: 'Fächer',
          field: 'subject',
        },
        {
          label: 'Schulart',
          field: 'school_branch',
        },
        {
          label: 'Schulname',
          field: 'school_name',
        },
        {
          label: 'Schulnummer',
          field: 'school_number',
        }
      ],
      checkedBoxes: [],
    }
  },

  created() {
    localStorage.setItem('checkedBoxID', 0);
    this.loadData();
  },

  methods: {
    selectionChanged(params) {
      this.checkedBoxes = [];
      for(let i = 0; i < params.selectedRows.length; i++) {
        this.checkedBoxes[i] = params.selectedRows[i].id;
      }
    },

    loadData(){
      this.$store.dispatch('teacher/getAll').then(
          (data) => {
            this.rows = [];
            for(let x = 0; x < data.length; x++){
              this.rows.push({id: data[x].id, personalnummer: data[x].personal_number, gender: data[x].gender, grad: data[x].grad, firstname: data[x].firstname, lastname: data[x].lastname, email: data[x].email, telephone: data[x].telephone, street: data[x].street, zip: data[x].zip, city: data[x].city, subject: data[x].subject, school_branch: data[x].school_branch, school_name: data[x].school_name, school_number: data[x].school_number, status: data[x].status});
            }
          },
          error => {
            this.message = (error.response && error.response.data) || error.message || error.toString();
            this.successful = false;
          }
      );
    },



    deleterows(){
      for (let x = 0; x < this.checkedBoxes.length; x++){
        this.$store.dispatch('teacher/delete', this.checkedBoxes[x]);
      }
      setTimeout(() => this.loadData(), 1000);
    },

    exportExcel(){
      this.$store.dispatch('teacher/exportExcel', this.checkedBoxes);
    },

  },

  watch: {
    checkedBoxes(){
      if (this.checkedBoxes.length > 1 || this.checkedBoxes.length < 1){
        document.getElementById("editbutton").style.display = "none";
      } else {
        document.getElementById("editbutton").style.display = "unset";
      }
      localStorage.setItem('checkedBoxID', this.checkedBoxes[0]);
    }
  },

}
</script>

<style scoped>

.entry_box-inner {
  position: relative;
  display:inline;
}

#exportbutton, #addbutton, #editbutton, #deletebutton {
  margin: 15px;
  display:inline-block;
  padding:0.3em 1.2em;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: bold;
  color:#FFFFFF;
  background-color:#528fff;
  border: 2px solid #2770f5; /* Green */
  text-align:center;
  transition: all 0.2s;
}

#exportbutton:hover, #deletebutton:hover, #addbutton:hover , #editbutton:hover{
  background-color: #70a1ff;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.1);
  transition: 0.2s;
  margin-top: 20px;
  margin-right: 10px;
  height: 95vh;
  border-radius: 3px;
  border-color: #f2f5f8;
  border: 0px;
}
.e-resizable {
  overflow: auto;
  height: 100vh;
  background-color: #f2f5f8;
  border-color: transparent;
}

</style>