<template>
  <div id="app" class="row">
    <div :style="sidebarStyle" class="col-md-2">
      <SideMenu></SideMenu>
    </div>
    <div :class="contentClass">
      <router-view/>
    </div>
  </div>
</template>

<script>

import SideMenu from "@/components/SideMenu";

export default {
  components: {SideMenu},

  data(){
    return{
      sidebarStyle: "",
      contentClass: "content col-md-10",
      events: [],
    }
  },

  computed: {
    loggedIn() {
      // Falls der User schon angemeldet ist, direkte weiterleitung
      return this.$store.state.auth.status.loggedIn;
    },

  },

  created() {
    this.navUpdate();
  },

  methods: {
    navUpdate (){
      if (!this.loggedIn) {
        this.sidebarStyle = "display: none";
        this.contentClass = "content col-md-12";
      } else {
        this.sidebarStyle = "";
        this.contentClass = "content col-md-10";
        this.loadData();
      }
    },

    loadData(){

      this.$store.dispatch('event/get').then(
          (data) => {
            this.events = [];
            data.forEach(row => {
              let title = row.title;
              let description = row.description;
              let from = row.startTime;
              let to = row.endTime;

              this.events.push({id: row.id, from: from, to: to, data: { title: title, description: description}});
              localStorage.setItem("events", JSON.stringify(this.events) );
            })
          }
      )
    }
  }
};

</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.content {
  height: 100vh;
  background: whitesmoke;
  position: fixed;

}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
